:root {
  --primary: #0c3a52;
  --secondary: #00A6FB;
}

.game-box {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
}

.grid {
  border: 4px solid var(--primary);
  border: outset;
  border-radius: 1px;
}

.grid-item {
  border-radius: 3px;
}

.btn-container {
  display: flex;
  flex-direction: row;
  width: 300px;
  justify-content: space-around;
}

button:hover {
  background-color: var(--secondary);
  color: black;
}

button {
  color: white;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 5px;
  background-color: var(--primary);
  width: 75px;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 18px;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
